/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
#edition {
	padding: 1rem 0 1rem 0;
	color: white;
	background-color: black;
	align-items: center;
	justify-content: center;
	gap: 1rem;
  }
  .publiez {
	background-color: white;
	color: black;
	border-radius: 25px;
	padding: 0.5rem;
	font-weight: bold;
  }
  
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#myBtn1 button {
	border: none;
	border-radius: 0px;
	color: #0f0f0f;
	background-color: white;
  }
  #myBtn1 button:hover {
	background-color: white;
	color: #0f0f0f;
  }
  #myBtn2 button {
	border: none;
	border-radius: 0px;
	color: #0f0f0f;
	background-color: white;
  }
  #myBtn2 button:hover {
	background-color: white;
	color: #0f0f0f;
  }
  
#portfolio h2 {
	text-align: center;
	margin-right: 1rem;
}
.projet {
	justify-content: center;
	display: flex;
	margin-bottom: 1em;
}
.BtnGroup{
	text-align: center;
	margin: 1rem;
}
.BtnGroup button {
	border: solid 1px #1D6154 ;
	border-radius: 20px;
	color: #1D6154;
	background-color: white;
	padding: .5rem;
	
}
.BtnGroup button :hover{
	color: white;
	background-color: #1D6154;
	transition-duration: 30ms;

	
}
.btn {
	border: none;
	border-radius: 0px;
	color: #0f0f0f;
	background-color: white;
	padding: 1rem;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/* Modal */

.container {
	position: absolute;
	left: 0%;
	top: 59%;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.3);
  }
  .modal {
	align-items: center;
	justify-content: center;
	z-index: 1;
	padding-top: 10px;
	width: 60%;
	height: 80%;
	border-radius: 10px;
	position: absolute;
	top: 0%;
	left: 0%;
	transform: translate(-50%, -50%);
	overflow: auto;
	background-color: #ffffff;
  }
  .hidden {
display: none
  }



  /* LOGIN */

  #Login {
	position: relative;
	width: 1440px;
	height: 1024px;
	background: #FFFEF8;
  }
  #Log-In {
	position: absolute;
	width: 300px;
	height: 36px;
	left: 700px;
	top: 242px;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700px;
	font-size: 30px;
	line-height: 36px;
	transform: translate(-50%,-50%);
  }
  .main-title {
	position: absolute;
	text-align: center;
	color: #1D6154;
	transform: translate(-50%,-50%);
  }
   .TexEmail {
	position: absolute;
	width: 300px;
	height: 16px;
	left: 0px;
	top: 50px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500px;
	font-size: 30px;
	line-height: 36px;
	color:#3D3D3D;
	transform: translate(-50%,-50%);
  }
  #UserEmail {
	position: absolute;
	width: 300;
	height: 51;
	left: 0;
	top: 100px;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	transform: translate(-50%,-50%);
  }
  .TexPassword {
	position: absolute;
	width: 300px;
	height: 16px;
	left: 0px;
	top: 150px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500px;
	font-size: 30px;
	line-height: 36px;
	color:#3D3D3D;
	transform: translate(-50%,-50%);
  }
  #UserPassword {
	position: absolute;
	width: 300;
	height: 51;
	left: 0;
	top: 200px;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	transform: translate(-50%,-50%);
  }

  .submit-btn {
	position: absolute;
	width: 100px;
	height: auto;
	border-radius: 15px;
	padding: .5rem;
	left: 0;
	top: 300px;
	color: #FFFFFF;
	background-color: #1D6154;color: #FFFFFF;
	background-color: #1D6154;
	transform: translate(-50%,-50%);
  }
  .CodeOublier {
	position: absolute;
	width: 300px;
	height: auto;
	border-radius: 15px;
	padding: .5rem;
	left: 0;
	top: 340px;
	transform: translate(-50%,-50%);
	
  }
